compose-bastion/.env
compose-wordpress/.env
*.env
iac/secret.tfvars
*.tfvars
iac/deploy-key
iac/deploy-key.pub
iac/deploy-key.ppk
*.ppk
*.pub
*deploy*
iac/terraform.tfstate
iac/terraform.tfstate.backup
iac/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.lock.hcl
iac/plan.out
plan.out
iac/.terraform/
*:Zone.Identifier
